<h2><%=@article.title%></h2>

<p><%=@article.body%></p>


<p class="text"><%=link_to 'Редактировать', edit_article_path(@article)%>
|
<%=link_to 'Удалить', article_path(@article),
                  method: :delete,
           data: { confirm: 'Вы уверены?' }%></p>

<span>
    <span>
      <%= @article.get_likes.size%>❤
    </span>

    <a>
    <%if user_signed_in? && current_user.liked?(@article)%>
      <div>
      <%=link_to like_article_path(@article, 'unlike'), method: :put, remote: :true do%> Unlike
            </div>
      <%end%>
      <%else%>
      <div>
      <%=link_to like_article_path(@article, 'like'), method: :put, remote: :true do%> Like
            </div>
      <%end%>
      <%end%>
    </a>
  </span>

<h5>Комментарии</h5>
<%=render @article.comments%>

<h6>Добавить комментарий:</h6>
<%=render 'comments/form'%>
